.choose {
  min-width: 50vw;
  position: relative;
  flex-grow: 1;
}

.pentagon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 33vw;
}

.imgContainer img {
  z-index: 3;
  width: 7vw;
  height: 7vw;
  padding: 1rem;
  background-color: #fff;
  border-radius: 100%;
}