.individualImg {
  position: absolute;
  overflow: visible;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  width: fit-content;
}

.commonImg{
  border: none;
  background-color: #fff;
  border-radius: 100%;
  width: 8vw;
  height: 8vw;
  padding: 1rem;

}


.lizardContainer {
  background-image: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  bottom: 4vh;
  left: 10vw;
}
.paperContainer {
  right: 5vw;
  top: 24vh;
  background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}
.scissorsContainer {
  background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  left: 19vw;
  top: 4vh;
}
.rockContainer {
  background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  bottom: 4vh;
  right: 10vw;
}

.spockContainer {
  background-image: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  top: 24vh;
  left: 5vw;
}
